[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
channels = {extras = ["daphne"], version = "*"}
graphene-django = "*"
django-filter = "*"
django-split-settings = "*"
psycopg2-binary = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
gunicorn = "*"
django-sendgrid-v5 = "*"
cryptography = "*"
snapshottest = "*"
django-cors-headers = "*"
django-graphql-jwt = "*"
chardet = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11"
